body{
  background: #fff1d4;
  position: absolute;
  width: 100%;
  height: 250%;
}

li{
  font-family: 'Josefin Sans', sans-serif;
  color: #5e5e5e;
}

.center {
  margin-left: 30%;
}

.jm_logo{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 2%;
  margin-top: 3%;

}

.hi{
  width: 40%;
  margin-left:2%;
}

.intro{
  width: 60%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 20%;
  border: 3px solid #F5D487;
  line-height: 1.5
}

.text{
  font-family: 'Josefin Sans', sans-serif;
  color: #5e5e5e;
  margin: 0% 15px 10% 15px;

}

.ideas_text{
  font-family: 'Josefin Sans', sans-serif;
  color: #5e5e5e;

}

.initial_ideas{
  width: 60%;
  height: auto;
  position: absolute;
  top: 45%;
  left: 20%;
  border: 3px solid #F5D487;
  line-height: 1.5
}

.dartmouth{
  width: 60%;
  height: auto;
  position: absolute;
  top: 85%;
  left: 20%;
  border: 3px solid #F5D487;
  line-height: 1.5
}

.nyt{
  width: 60%;
  height: auto;
  position: absolute;
  top: 125%;
  left: 20%;
  border: 3px solid #F5D487;
  line-height: 1.5
}

.logo{
  width: 40%;
}

.civis{
  width: 60%;
  height: auto;
  position: absolute;
  top: 155%;
  left: 20%;
  border: 3px solid #F5D487;
  line-height: 1.5;
}

.previously{
  width: 60%;
  height:15%;
  position: absolute;
  top: 195%;
  left: 20%;
  border: 3px solid #F5D487;
  line-height: 1.5;

}

.goodbye{
  width: 60%;
  height:15%;
  position: absolute;
  top: 465%;
  left: 20%;
  line-height: 1.5;
  margin-bottom: 5%;

}


a{
  color: #d4d4d4;
  font-family: 'Josefin Sans', sans-serif;
}

.linkedin{
  width: 7%;
  margin: 15% 5% 0% 40%;
}

.email{
  width: 8%;
}

.signature{
  width:50%;
  margin-left: 25%;
}
